.watch{
  width: 100%;
  height: rem(550px);
  background: url(./img/our-story/our-story-bcg.png);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(#403167, var(--mainOppacity));
  }
  &__btn{
    max-width: rem(100px);
    width: 100%;
    height: rem(100px);
    z-index: 2;
    margin-bottom: rem(34px);
    border-radius: 50%;
    border: 2px solid var(--secondColor);
    position: relative;
    cursor: pointer;
    @include deskfirst(640){
      width: rem(75px);
      height: rem(75px);
    }
    @include deskfirst(490){
      width: rem(50px);
      height: rem(50px);
    }
    &-img{
      position: absolute;
      top: 50%;
      left: 57%;
      transform: translate(-57%, -50%);
      @include deskfirst(640){
        width: 40%;
      }
    }
  }
  &__title{
    z-index: 2;
    text-transform: uppercase;
    color: var(--secondColor);
    font-weight: 700;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: rem(16px);
    letter-spacing: rem(1px);
    @include deskfirst(490){
      font-size: rem(14px);
    }
  }
}