.header {
  height: var(--header-height);
  background-color: #544776;
  &__wrapper {
    height: 100%;
    max-width: rem(960px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include deskfirst(1060) {
      justify-content: space-around;
    }
  }
}
