.brands
  img.brands__img.zara(src="/img/client/zara.png", alt="zara")
  img.brands__img.mango(src="/img/client/mango.png", alt="mango")
  img.brands__img.barneys-newyork(src="/img/client/barneys-newyork.png", alt="barneys newyork")
  img.brands__img.gucci(src="/img/client/gucci.png", alt="gucci")
  img.brands__img.calvin-klein(src="/img/client/calvin-klein.png", alt="calvin klein")
  img.brands__img.nike(src="/img/client/nike.png", alt="nike")
  img.brands__img.converse(src="/img/client/converse.png", alt="converse")
  img.brands__img.puma(src="/img/client/puma.png", alt="puma")
  img.brands__img.levis(src="/img/client/levis.png", alt="levis")
  img.brands__img.billa-bong(src="/img/client/billa-bong.png", alt="billa bong")