section.client
  .client__wrapper
    h2.client__title.client__title-left give us a good news
    h2.client__title.client__title-right our happy client
    include ./form-news
    include ./brands