section#expertise.expertise
  .expertise__wrapper
    .expertise__header
      h2.expertise__title expertise
      h4.expertise__subtitle Lorem ipsum dolor sit amet proin gravida nibh vel velit
      hr.expertise__hr
    .card.card__monitor
      img.card__img(src="/img/expertise/monitor.png", alt="monitor")
      h3.card__title web design & development
      p.card__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
    .card.card__pen
      img.card__img(src="/img/expertise/pen.png", alt="pen")
      h3.card__title branding identity
      p.card__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
    .card.card__mobile
      img.card__img(src="/img/expertise/mobile.png", alt="mobile")
      h3.card__title mobile app
      p.card__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
    .card.card__chart
      img.card__img(src="/img/expertise/chart.png", alt="chart")
      h3.card__title search engine optimization
      p.card__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
    .card.card__calc
      img.card__img(src="/img/expertise/calc.png", alt="calc")
      h3.card__title game developmemt
      p.card__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
    .card.card__heart
      img.card__img(src="/img/expertise/heart.png", alt="heart")
      h3.card__title made with love
      p.card__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.