form.subscribe__form(name="subscribe", method="post")
  input.subscribe__input(type="text" placeholder="Subscribe our newsletter")
  button.subscribe__btn(type="submit")
    img.subscribe__btn-img(src="/img/footer-btn-logo.png", alt="subscribe button")