form.form(name="news", method="post")
  input.form__input(type="text" placeholder="Name")
  input.form__input(type="text" placeholder="Email")
  input.form__input(type="text" placeholder="Subject")
  textarea.form__textarea(name="", cols="30", rows="10" placeholder="Your message")
  input.btn.form__btn(type="button", value="Submit")