nav.menu
  ul.menu__list
    li.menu__item.menu__item
      a.menu__link-active(href="#products") home
    li.menu__item
      a.menu__link(href="#our-story") about
    li.menu__item
      a.menu__link(href="#expertise") expertise
    li.menu__item
      a.menu__link(href="#team") teams
    li.menu__item
      a.menu__link(href="#works") works
    li.menu__item
      a.menu__link(href="#people-say") people say
    li.menu__item
      a.menu__link(href="#footer") contact