div.grid__slider-two
  .slider__two
    .viewport__two
      ul.slider__two-list
        li.slider__two-item
          .slider__two-description
            img.quotation-mark__img(src="/img/quotation-mark/quotation-mark.png", alt="quotation mark")
            p.quotation-mark__text.
              This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
            .quotation-mark__desc
              h3.quotation-mark__name jane galadriel
              span.quotation-mark__position ceo tengkurep
            .quotation-mark__photo
              img.quotation-mark-img(src="/img/quotation-mark/people/people1.png", alt="people1")
              img.quotation-mark-img(src="/img/quotation-mark/people/people2.png", alt="people2")
              img.quotation-mark-img(src="/img/quotation-mark/people/people3.png", alt="people3")
              img.quotation-mark-img(src="/img/quotation-mark/people/people4.png", alt="people4")
              img.quotation-mark-img(src="/img/quotation-mark/people/people5.png", alt="people5")
      .btn__two-prev &lsaquo;
      .btn__two-next &rsaquo;
      .btns__two
        .slider__two-nav.active
        .slider__two-nav
        .slider__two-nav
        .slider__two-nav

