.social
  ul.social__list
    li.social__item
      a.social__link(href="#")
        svg.social__svg
          use.social__img(xlink:href="/img/social/sprite.svg#facebook")
    li.social__item
      a.social__link(href="#")
        svg.social__svg
          use.social__img(xlink:href="/img/social/sprite.svg#twitter")
    li.social__item
      a.social__link(href="#")
        svg.social__svg
          use.social__img(xlink:href="/img/social/sprite.svg#basketball")
    li.social__item
      a.social__link(href="#")
        svg.social__svg
          use.social__img(xlink:href="/img/social/sprite.svg#instagram")
    li.social__item
      a.social__link(href="#")
        svg.social__svg
          use.social__img(xlink:href="/img/social/sprite.svg#google-plus")
    li.social__item
      a.social__link(href="#")
        svg.social__svg
          use.social__img(xlink:href="/img/social/sprite.svg#youtube")