section#team.team
  .team__wrapper
    .team__header
      h2.team__title meet our amazing team
      h4.team__subtitle Lorem ipsum dolor sit amet proin gravida nibh vel velit
      hr.team__hr
    .photo.photo__ceo
      img.photo__img(src="/img/team/people1_small.jpg", alt="semf ucuk")
      .photo__desc
        h3.photo__name semf ucuk
        span.photo__position ceo & founder
    .photo.photo__engineering
      img.photo__img(src="/img/team/people2_small.jpg", alt="dik adalin")
      .photo__desc
        h3.photo__name dik adalin
        span.photo__position engineering
    .photo.photo__designer
      img.photo__img(src="/img/team/people3_small.jpg", alt="jeng kol")
      .photo__desc
        h3.photo__name jeng kol
        span.photo__position designer
    .photo.photo__marketing
      img.photo__img(src="/img/team/people4_small.jpg", alt="pet romak")
      .photo__desc
        h3.photo__name pet romak
        span.photo__position marketing
    .team__footer
      h4 become part of our dream team, let’s join us !
      button.btn.team__btn we are hiring