section#works.works
  .works__wrapper
    .works__header
      h2.works__title our works
      span.works__subtitle See All Project in dribble >
  .works__middle
    .work.work__1
      img.work__img(src="/img/works/img1.png", alt="img1")
    .work.work__2
      img.work__img(src="/img/works/img2.png", alt="img2")
    .work.work__3
      img.work__img(src="/img/works/img3.png", alt="img3")
    .work.work__4
      img.work__img(src="/img/works/img4.png", alt="img4")
    .work.work__5
      img.work__img(src="/img/works/img5.png", alt="img5")
    .work.work__6
      img.work__img(src="/img/works/img6.png", alt="img6")
    .work.work__7
      img.work__img(src="/img/works/img7.png", alt="img7")
    .work.work__8
      img.work__img(src="/img/works/img8.png", alt="img8")
    .work.work__9
      img.work__img(src="/img/works/img9.png", alt="img9")
    .work.work__10
      img.work__img(src="/img/works/img10.png", alt="img10")
    .work.work__11
      img.work__img(src="/img/works/img11.png", alt="img11")
    .work.work__12
      img.work__img(src="/img/works/img12.png", alt="img12")
  .works__wrapper
    button.btn.works__btn load more