footer#footer.footer
  .footer__wrapper
    include ../components/logo
    .footer__title.footer__title-first our studio
    .footer__title.footer__title-second stay in touch
    .footer__text.footer__text-top.
      lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit.
    .footer__text.footer__text-bottom.
      Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
    .footer__contacts.address.
      Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat
    .footer__contacts.phone (+62) 21-2224 3333
    include ../components/form-subscribe
    include ../components/socials
    .footer__menu
      .footer__menu-item help
      .footer__menu-item terms & condition
      .footer__menu-item privacy
    .footer__copyright Copyright © 2015 - Tajam Creative