include ../components/main
include ../components/our-story
include ../components/btn-on-top
include ../components/watch
include ../components/expertise
include ../components/team
include ../components/works
include ../components/quotation-mark
include ../components/client